h1 {
    color: blue;
    font-size: 50px;
}

h2 {
    color: red;
    font-size: 25px;
}

h3 {
    color: orange;
    font-size: 20px;
}

p {
    font-size: 18px;
}

header {
    color: darkblue;
}

section {
    color: darkgreen;

}

footer {
    color: brown;
}